@*Razor Page to display the analysis*@

@page
@model CalorieWebApp.Pages.Users.AnalysisModel
@{
}

<style>
    body {
        background-color: #c0d7fa;
    }
    table, th, td, tr {
        border: 1px solid;
    }
</style>


<br>
<h2>User Analysis</h2>

<a class="btn btn-primary btm-sm" href="/Users/Index">Display All User Entries</a>
<a class="btn btn-primary btm-sm" href="/Users/Create">Add New Entry</a>
<form method="POST">
    <table>
        <tr>
            <td>Enter a user's name:</td>
            <td><input type="text" name="name" placeholder ="name" value="@Model.user.Name"></td>
        </tr>
    </table>
    <p></p>
    <br />
    <input type="submit" value="Get Analysis" class="btn btn-primary" />
</form>

<table>
    <thead>
        <tr>
            <th>Average Calorie Analysis</th>
            <th>Goal Intake Analysis</th>
            <th>BMI Analysis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.analysis.AverageCalAnalysis</td>
            <td>@Model.analysis.GoalIntakeAnalysis</td>
            <td>@Model.analysis.BMIAnalysis</td>
        <tr>
    </tbody>
</table>
<br /> <br />
<p>
    A healthy BMI for an adult is between <strong>20 and 25.</strong><br />
    Once you have measured your BMI, you can determine your healthy weight range. If your BMI is: <br />
    <ol>
        <li><strong>Under 18.5 -</strong> you are very underweight and possibly malnourished.</li>
        <li><strong>18.5 to 24.9 -</strong> you have a healthy weight range for young and middle-aged adults.</li>
        <li><strong>25.0 to 29.9 -</strong> you are overweight</li>
        <li><strong>Over 30 -</strong> you are obese.</li>
    </ol>
</p>
@if (@Model.errorMessage.Length > 0)
{
    <div>Model.errorMessage</div>
}

