@*Razor Page to create/ add a new item to the DB*@

@page
@model CalorieWebApp.Pages.Users.CreateModel
@{
}

<style>
    body {
        background-color: #c0d7fa;
    }
</style>

<a class="btn btn-primary btm-sm" href="/Users/Index">Display All User Entries</a>
<a class="btn btn-primary btm-sm" href="/Users/Analysis">Analysis</a>

<br>
<h2>Create User Record</h2>

@if (@Model.errorMessage.Length > 0)
{
    <div>Model.errorMessage</div>
}
<form method="POST" style="display: block">
    <ul style="list-style-type: none">
        <li style="margin: 10px 0">
            <label for="name">Enter your name: </label>
            <input type="text" name="name" placeholder="name" value="@Model.user.Name">
        </li>
        <li style="margin: 10px 0">
            <label for="age">Enter your age: </label>
            <input type="number" name="age" placeholder="age" value="@Model.user.Age">
        </li>
        <li style="margin: 10px 0">
            <label for="name">Enter your current calorie intake: </label>
            <input type="number" name="currentCalorieIntake" placeholder="current calorie intake for the day" value="@Model.user.CurrentCalorieIntake">
        </li>
        <li style="margin: 10px 0">
            <label for="gender">Enter your gender: </label>
            <select name="gender">
                <option value="@Model.user.Gender">M</option>
                <option value="@Model.user.Gender">F</option>
            </select>
        </li>
        <li style="margin: 10px 0">
            <label for="name">Enter your height: </label>
            <input type="number" name="height" placeholder="height in meters or feet" value="@Model.user.Height">
        </li>
        <li style="margin: 10px 0">
            <label for="name">Enter your weight: </label>
            <input type="number" name="weight" placeholder="weight in kilograms or pounds" value="@Model.user.Weight">
        </li>
    </ul>
    <p></p>

    @if (Model.successMessage.Length > 0)
    {
        <div>Model.successMessage</div>
    }
    <input type="submit" value="Add" class="btn btn-primary" />
</form>