@*Razor Page to create/ add a new item to the DB*@

@page
@model CalorieWebApp.Pages.Users.CreateModel
@{
}

<style>
    body {
        background-color: #c0d7fa;
    }
    li {
        margin: 10px 0;
    }
    ul {
        list-style-type: none;
    }

</style>

<a class="btn btn-primary btm-sm" href="/Users/Index">Display All User Entries</a>
<a class="btn btn-primary btm-sm" href="/Users/Analysis">Analysis</a>

<br>
<h2>Create User Record</h2>

@if (@Model.errorMessage.Length > 0)
{
    <div>Model.errorMessage</div>
}
<form method="POST" style="display: block">
    <ul>
        <li>
            <label for="name">Enter your name: </label>
            <input type="text" name="name" placeholder="name" value="@Model.user.Name">
        </li>
        <li>
            <label for="age">Enter your age: </label>
            <input type="number" name="age" placeholder="age" value="@Model.user.Age">
        </li>
        <li>
            <label for="name">Enter your current calorie intake: </label>
            <input type="number" name="currentCalorieIntake" placeholder="current calorie intake for the day" value="@Model.user.CurrentCalorieIntake">
        </li>
        <li>
            <label for="gender">Enter your gender: </label>
            <select name="gender" value="@Model.user.Gender">
                <option>M</option>
                <option>F</option>
            </select>
        </li>
        <li>
            <label for="name">Enter your height: </label>
            <input type="number" name="height" placeholder="height in centimeters" value="@Model.user.Height">
        </li>
        <li>
            <label for="name">Enter your weight: </label>
            <input type="number" name="weight" placeholder="weight in kilograms" value="@Model.user.Weight">
        </li>
    </ul>
    <p></p>

    @if (Model.successMessage.Length > 0)
    {
        <div>Model.successMessage</div>
    }
    <input type="submit" value="Add" class="btn btn-primary" />
</form>

