@*Razor Page to display all records from the DB*@

@page
@model CalorieWebApp.Pages.Users.IndexModel
@{
}

<style>
    body {
        background-color:#c0d7fa;
    }
</style>
<br>
<a name="top" id="top"></a>
<h2>List of User Entries</h2>

<a class="btn btn-primary btm-sm" href="/Users/Create">Add New Entry</a>
<a class="btn btn-primary btm-sm" href="/Users/Analysis">Analysis</a>
<a class="btn btn-primary btm-sm" href ="#bottom">Go to the Bottom</a>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Calorie Intake</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>@user.Height</td>
                <td>@user.Weight</td>
                <td>@user.CurrentCalorieIntake</td>

                <td>
                    <a class="btn btn-primary btm-sm" href="/Users/Edit?id=@user.Id">Edit</a>
                    <a class="btn btn-danger btm-sm" href="/Users/Delete?id=@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a name="bottom" id="bottom"></a>
<a class="btn btn-primary btm-sm" href="#top">Go to the Top</a>